<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dadago</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="../static/KDNWidget.js"></script>
    <script src="../static/check.js"></script>
    <style>
        {#设置div布局格式#}
        div {
            display: inline
        }
    </style>
</head>
<body>
<form id="myForm" method="post" action="/express_query">
    <input id="phone_number" type="text" placeholder="手机号码" name="phone_number">
    <input class="btn" type="button" value="查询" onclick=check()>
</form>

<div id="showExpressNumber">

</div>

</body>
</html>