<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信息分割提取到excel表格</title>
    <style>
        #left {
            float: left;

        }

        #right {
            padding-left: 40px;
            float: left;
        }

        #show div {
            text-align: left;
            vertical-align: middle;
        }

        p {
            display: inline-block;
        }


    </style>
</head>
<body>
<div>
    <div id="left">
        <textarea style="min-width:600px;min-height:500px;font-size: 20px;" placeholder="请输入核对信息"></textarea>
    </div>
    <div id="right">
        <div id="show">
            <div><p>电话号码（mobile）：</p><span>fjdsfjl</span></div>
            <div><p>名字（name）：</p><span>rtgsdg</span></div>
            <div><p>备注（note）：</p><span></span></div>
            <div><p>省ID（province_id）：</p><span></span></div>
            <div><p>省（province_name）：</p><span></span></div>
            <div><p>省简称（province_shortname）：</p><span></span></div>
            <div><p>城市ID（city_id）：</p><span></span></div>
            <div><p>城市名称（city_name）：</p><span></span></div>
            <div><p>城市简称（city_shortname）：</p><span></span></div>
            <div><p>区县ID（county_id）：</p><span></span></div>
            <div><p>区县名称（county_name）：</p><span></span></div>
            <div><p>区县简称（county_shortname）：</p><span></span></div>
            <div><p>详细地址（detail）：</p><span></span></div>
        </div>
    </div>

</body>
</html>