<!DOCTYPE html>
<html>
<head>
    <title>excel操作登录</title>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <meta name="dadago"
          content="Flat Dark Web Login Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates"/>
    <link href="../static/css/login1.css" rel='stylesheet' type='text/css'/>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <style>
        body {
            font-family: "Microsoft YaHei", "黑体", "宋体", sans-serif;
        }
    </style>
</head>
<body>
<script>$(document).ready(function (c) {
    $('.close').on('click', function (c) {
        $('.login-form').fadeOut('slow', function (c) {
            $('.login-form').remove();
        });
    });
});
</script>
<!--SIGN UP-->
{% with errors= get_flashed_messages(category_filter=["LOGIN_ERROR", "REGISTER"]) %}
    {% if errors %}
        <h1 style="color: #ff1638">{{ errors[0] }}</h1>
    {% else %}
        <h1>请先登录</h1>
    {% endif %}
{% endwith %}
<div class="login-form">
    <div class="close"></div>
    <div class="head-info">
        <label class="lbl-1"> </label>
        <label class="lbl-2"> </label>
        <label class="lbl-3"> </label>
    </div>
    <div class="clear"></div>
    <div class="avtar">
        <img src="../static/pictures/avtar.png"/>
    </div>
    <form action="/login_check" method="post">
        <input type="text" class="text" name="username" value="username" onfocus="this.value = '';">
        <div class="key">
            <input type="password" name="password" value="password" onfocus="this.value = ''">
        </div>
        <div class="signin">
            <input type="submit" value="登录">
        </div>
    </form>

</div>
<div class="copy-rights">
    <p>Copyright &copy; 2019.苏州志行天宜 All rights reserved. 商务合作 <a href="http://www.cssmoban.com/" target="_blank"
                                                                 title="模板之家">15023456787</a> - Collect from <a
            href="http://www.dadagomvp.com/" title="公司首页" target="_blank">达达购</a></p>
</div>

</body>
</html>